@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.spin{
  animation: spin 4s linear infinite;
}

